* {
    box-sizing: border-box;
}

body {
    background-color: #212121;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.time-bg {
    background-color: yellow;
    padding: 15px;
    width: 200px;
    color: green;
}